#new_user {
  width: 300px;
  border: 2px solid #BBBBBB;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #dddddd;

  input[type=text], input[type=password] {
    width: 100%;
  }
}

#new_user, .edit_user, .edit_profile {
  width: 300px;
}

.navbar-text {
  margin-top: 0 !important;
}

.button_to {
  display: inline-block;
  margin-left: 15px;

  input[type=submit] {
    background:none!important;
    border:none;
    padding:0!important;
    color: red;
  }
}

.top-menu-links {
  margin: 15px 0;
}

.list-group-item {
  .appointment-status {
    //float: right;
    //margin-top: -18px;
  }
}